<%= stylesheet_link_tag "events" %>

<div class="jumbotron">
  <h1><strong><%= @event.desc %></strong></h1>
  <h4>Host: <%= @event.host.first_name %></h4>
  <h4>description: <%= @event.city%>, </h4>

  <% if @event.users.exists? %>
    <h4>Members: <%= @event.users.count %> </h4>
</div>

<div class="text-center ">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">desription</th>
       
      </tr>
    </thead>
    <tbody>
      <% @event.users.each do |group| %>
      <tr>
        <td><%= group.first_name %></td>
        <td><%= group.last_name %></td>
        <td><%= group.owner %></td>
   
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


    <form class="form" action="/messages/<%= @event.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="message[event_id]" value="<%= @event.id %>">
      <div class="form-group">
        <label for="message"><h2><strong>Add group</strong></h2></label>
        <textarea name="message[content]" class="form-control" placeholder="10 character minimum!" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add group</button>
    </form>
  <% else %>
    <em><h4>No one has joined this group</h4></em>
  <% end %>
